Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:element name="Hotels">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="Hotel" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                        <!-- require at least one phone number but allow for multiple -->
                        <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/> 
                        <xsd:element name="Address">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Number" type="xsd:string"/>
                                    <xsd:element name="Street" type="xsd:string"/>
                                    <xsd:element name="City" type="xsd:string"/>
                                    <xsd:element name="State" type="xsd:string"/>
                                    <xsd:element name="Zip" type="xsd:string"/>
                                </xsd:sequence>
                                <!-- required nearest airport attribute of address -->
                                <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <!-- optional hotel rating attribute -->
                    <xsd:attribute name="Rating" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
